#aggrid_GESTIONDESDROITSACCESS {
    height: 86vh;
    width: 100%;
}

#aggrid_GESTIONDESDROITSUSER {
    height: 47%;
    width: 100%;
}

#aggrid_GESTIONDESDROITSAPP {
    height: 47%;
    width: 100%;
}

#aggrid_GESTIONDESDROITSFOLDER {
    height: 47%;
    width: 100%;
}

#aggrid_GESTIONDESDROITSTYPE {
    height: 47%;
    width: 100%;
}